DEPLOY_HOST=www.tminos.com
DEPLOY_PORT=22
DEPLOY_USER=root
DEPLOY_PASSWORD=

REMOTE_BACKEND_DIR=/home/server
REMOTE_FRONTEND_DIR=/home/web
REMOTE_BACKEND_START_SCRIPT=start.sh

BACKEND_MODULE=temu-upin-backend
BACKEND_JAR_NAME=product-scene-1.0.0.jar
SPRING_PROFILE=dev
FRONTEND_DIR=react-ant-6.3.5-admin

# Optional: set this if you want deploy.sh to use a specific local JDK.
DEPLOY_JAVA_HOME=
